@page
@model RazorPagesZoo.Pages.JournalOfTask.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JournalOfTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JournalOfTask.IdEmployee" />
            <input type="hidden" asp-for="JournalOfTask.IdTask" />
            <div class="form-group">
                <label asp-for="JournalOfTask.StartDate" class="control-label"></label>
                <input asp-for="JournalOfTask.StartDate" class="form-control" />
                <span asp-validation-for="JournalOfTask.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalOfTask.EndDate" class="control-label"></label>
                <input asp-for="JournalOfTask.EndDate" class="form-control" />
                <span asp-validation-for="JournalOfTask.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalOfTask.Status" class="control-label"></label>
                <input asp-for="JournalOfTask.Status" class="form-control" />
                <span asp-validation-for="JournalOfTask.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
