@page
@model RazorPagesZoo.Pages.Cage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="h1">Изменение</h1>

<h4 class="h1">Вольер</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="color:white;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cage.IdCage" />
            <div class="form-group">
                <label asp-for="Cage.Quantity" class="control-label"></label>
                <input asp-for="Cage.Quantity" class="form-control" />
                <span asp-validation-for="Cage.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cage.CageSize" class="control-label"></label>
                <input asp-for="Cage.CageSize" class="form-control" />
                <span asp-validation-for="Cage.CageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cage.Temp" class="control-label"></label>
                <input asp-for="Cage.Temp" class="form-control" />
                <span asp-validation-for="Cage.Temp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cage.Type" class="control-label"></label>
                <input asp-for="Cage.Type" class="form-control" />
                <span asp-validation-for="Cage.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
