@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject EmployeeService EmployeeService


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        string userId = UserManager.GetUserId(User);
        if (User.IsInRole("keeper"))
        {

            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Выйти</button>
                </form>
            </li>
        }
        else if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Личный кабинет</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Animal/Index">Животные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/SpeciesNote/Index">Виды животных</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Cage/Index">Вольеры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Vaccination/Index">Вакцинация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Employee/Index">Работники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Task/Index">Задание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/JournalOfTask/Index">Журнал с заданиями</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Выйти</button>
                </form>
            </li>
        }
        else if (User.IsInRole("veterinarian"))
        {

            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Выйти</button>
                </form>
            </li>
        }
        else
        {
            <>Ошибка</>
        }
    }
    else
    {
    }
</ul>
